body {
  background-color: #D9ECF8 ;
}

h1 {
  color: #211B61 ;
  text-align: center;
}

p {
  color: #000000 ;
  font-family: Century Schoolbook;
  font-size: 33px;
  line-height: 150%;
}